@CHARSET "ISO-8859-1";

* { box-sizing: border-box; }

body {
	background-color: #000;
	margin: 0;
}

.header-container {
	background-color: #FFF;
}

header {
	background-color: #000;
	color: #FFF;
	padding: 5px;
	padding-left: 75px;
	border-top-left-radius: 75px;
}

footer {
	width: 100%;
    overflow: auto;
    text-align: center;
    background: #000;
    color: #fff;
}

content {
	display: block;
	background-color: #eee;
	padding-left: 15px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	padding-bottom: 30px;
}

div#content-wrapper {
	display: block;
	background-color: #eee;	
	border-bottom-right-radius: 75px;
	margin-bottom: 15px;
	overflow: auto;	
	box-shadow: 0 4px 8px 0 rgba(254, 254, 254, 0.4), 0 6px 20px 0 rgba(254, 254, 254, 0.39);
}

content header {
	background-color: #eee;
	color: #000;
}

/*																	*/
/* 							menu styling 							*/
/*																	*/

nav ul {
	list-style: none;
	background-color: #444;
	text-align: center;
	padding: 0;
	margin: 0;
	z-index: 999;	
}

nav li {
	font-family: 'Oswald', fantasy;
	font-size: 1.2em;
	line-height: 40px;
	text-align: left;
}

nav a {
	text-decoration: none;
	color: #fff;
	display: block;
	padding-left: 15px;
	border-bottom: 1px solid #888;
	transition: .3s background-color;
}

nav a:hover {
	background-color: #500000;
}

nav a.active {
	background-color: #aaa;
	color: #444;
	cursor: default;
}

nav li li {
	font-size: .8em;
}

/*																	*/
/* 						mobile menu styling 						*/
/*																	*/

@media screen and (min-width: 650px) {
	nav li {
		width: 130px;
		border-bottom: none;
		height: 50px;
		line-height: 50px;
		font-size: 1.4em;
		display: inline-block;
		margin-right: -4px;
	}

	nav a {
		border-bottom: none;
	}
	
	nav > ul > li {
		text-align: center;
	}
	
	nav > ul > li > a {
		padding-left: 0;
	}
	
	/* Sub Menus */
	nav li ul {
		position: absolute;
		display: none;
		width: inherit;
	}
	
	nav li:hover ul {
		display: block;
	}
	
	nav li ul li {
		display: block;
	}
}

/*																*/
/* 							frame styling 						*/
/*																*/

.sidebar-container {
	width: 100%;
	margin-top: 15px;
}

.sidebar-container p {
    margin: 6px 0px 6px 0px;
}

.tile {
	border: #ddd solid 1px;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
    padding: 6px;
	background-color: #eee;
	margin-top: 15px;
}

#main {
	margin: 15px;
	margin-bottom: 0;
}

/*																*/
/* 							profile styling						*/
/*																*/

article#profile {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

article#profile > * {
  flex: 1 100%;
}

#profile #main {
	flex: 3 0px;
	order: 0;
}

#profile #left-sidebar {
	flex: 1 0px;
	order: 0;
}

#profile #photo-albums {
	order: 1;
	margin-right: 15px;
	padding-bottom: 20px;
	overflow: hidden;
}

#profile #main-image img {
	max-width: 225px;
	max-height: 400px;
	border-radius: 7px;
}

#profile p#name {
    margin: 4px;
    font-size: 20px;
    text-align: center;
}

#main-image input#Submit, #friends input#Submit {
	margin: 2px 0;
	width: 100%;
}

.profile-img img {
	width: 100%;
}

.grid-item .photo {
	overflow: visible;
}

.friend {
	width: 50%;
}

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }


/*																	*/
/* 							Form styling 							*/
/*																	*/
input {
	border-radius: 10px;
    padding: 3px;
}

input:hover {
	background-color: #EEE;
}

input:focus {
	background-color: #DEF7FF;
}

select {
    border-radius: 10px;
    padding: 2px;
}

select:hover {
	background-color: #EEE;
}

select:focus {
	background-color: #DEF7FF;
}

/*																		*/
/* 									Buttons							 	*/
/*																		*/

input#Submit, input#x {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
input#Submit:hover, input#x:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
input#Submit:active, input#x:active {
	position:relative;
	top:1px;
}

/*																	*/
/* 								Photo gallery 						*/

article#photos {
	display: block;
}

.grid-sizer, .grid-item { width: 23%; margin: 1%; overflow: hidden;}
.grid-item img{ transition: all .2s ease-in-out; }
.grid-item:hover img { transform: scale(1.1); z-index: 998; }
.grid-item img {
  display: block;
  width: 100%;
}

.grid-item #excerpt, .grid-item #description {
	margin-top: 10px;
}

.grid:after {
	content: '';
	display: block;
	clear: both;
	margin: 20px;
}

.grid a {
	color: black;
}
.tile div#title {
    text-transform: capitalize;
    text-align: center;
}

.tile p {
	margin-bottom: 5px;
	margin-top: 17px;
}

.tile div#full-copy {
	display: none;
}
/*														*/
/* 							Loader 						*/
/*														*/

img.loading {
	display: none;
}

.cssload-fond{
	position:relative;
	width: 100%;
	margin: 50px 0;	
}

.cssload-container-general
{
	animation:cssload-animball_two 1.6s infinite;
		-o-animation:cssload-animball_two 1.6s infinite;
		-ms-animation:cssload-animball_two 1.6s infinite;
		-webkit-animation:cssload-animball_two 1.6s infinite;
		-moz-animation:cssload-animball_two 1.6s infinite;
	width:43px; height:43px;
}
.cssload-internal
{
	width:43px; height:43px; position:absolute;
}
.cssload-ballcolor
{
	width: 19px;
	height: 19px;
	border-radius: 50%;
}
.cssload-ball_1, .cssload-ball_2, .cssload-ball_3, .cssload-ball_4
{
	position: absolute;
	animation:cssload-animball_one 1.6s infinite ease;
		-o-animation:cssload-animball_one 1.6s infinite ease;
		-ms-animation:cssload-animball_one 1.6s infinite ease;
		-webkit-animation:cssload-animball_one 1.6s infinite ease;
		-moz-animation:cssload-animball_one 1.6s infinite ease;
}
.cssload-ball_1
{
	background-color:rgb(203,32,37);
	top:0; left:0;
}
.cssload-ball_2
{
	background-color:rgb(248,179,52);
	top:0; left:23px;
}
.cssload-ball_3
{
	background-color:rgb(0,160,150);
	top:23px; left:0;
}
.cssload-ball_4
{
	background-color:rgb(151,191,13);
	top:23px; left:23px;
}

@keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-o-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-ms-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-webkit-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-moz-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@keyframes cssload-animball_two
{
	0%{transform:rotate(0deg) scale(1);}
	50%{transform:rotate(360deg) scale(1.3);}
	100%{transform:rotate(720deg) scale(1);}
}

@-o-keyframes cssload-animball_two
{
	0%{-o-transform:rotate(0deg) scale(1);}
	50%{-o-transform:rotate(360deg) scale(1.3);}
	100%{-o-transform:rotate(720deg) scale(1);}
}

@-ms-keyframes cssload-animball_two
{
	0%{-ms-transform:rotate(0deg) scale(1);}
	50%{-ms-transform:rotate(360deg) scale(1.3);}
	100%{-ms-transform:rotate(720deg) scale(1);}
}

@-webkit-keyframes cssload-animball_two
{
	0%{-webkit-transform:rotate(0deg) scale(1);}
	50%{-webkit-transform:rotate(360deg) scale(1.3);}
	100%{-webkit-transform:rotate(720deg) scale(1);}
}

@-moz-keyframes cssload-animball_two
{
	0%{-moz-transform:rotate(0deg) scale(1);}
	50%{-moz-transform:rotate(360deg) scale(1.3);}
	100%{-moz-transform:rotate(720deg) scale(1);}
}

/*																	*/
/* 							Flickity Carousel 						*/
/*																	*/

.carousel {
	overflow: visible;
}

.carousel-cell {
  max-width: 400px;
  width: 90px;
  height: 90px;
  margin-bottom: 15px;
  margin-right: 10px;
  overflow: visible;
}

.carousel-cell.is-selected {
}

.carousel-cell img {
    width: 100%;
}


/*.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}*/

/*																	*/
/* 							Modular Objects 						*/
/*																	*/

#city-autocomplete-wrapper {
	height: 0;
}

#city-autocomplete {
	background-color: white;
    z-index: 999;
    position: relative;
    display: table;
    border: black solid 1px;
    border-radius: 6px;
}

#city-autocomplete div {
    padding: 3px;
    cursor: pointer;
}

#city-autocomplete div:hover {
    background-color: whitesmoke;
}

#city-autocomplete div:nth-child(even) {
    /* padding: 1px; */
    border: black solid 1px;
    border-right: 0;
    border-left: 0;
}